*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: whitesmoke;
    font-family: "Roboto", sans-serif;
    color: black;
}

.titulo-secciones {
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
    color: slategrey;
}

.titulo-seccion {
    margin-top: 5rem;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    font-size: 2rem;
    background: rgb(19, 45, 88);
    padding: 1rem;
}

header {
    background: rgb(19, 45, 88);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 3rem;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;
}

.navbar a {
    color: whitesmoke;
    font-weight: bold;
    transition: color .2s;
}

.navbar a:hover {
    color: rgb(52, 191, 255);
}

.Logo {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
}

.logo-L {
    padding: .3rem .4rem;
    background-color: rgb(233, 117, 8);
    border-radius: .5rem;
}

.sobre-mi {
    padding: 4rem 10rem;
    background: linear-gradient(90deg,
            rgb(19, 45, 88), rgb(84, 118, 146));
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

.foto-usuario img {
    width: 200px;
    border: 5px solid white;
    border-radius: 10rem;
}

.nombre {
    color: orange;
}

.div-sobre-mi h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

.div-sobre-mi p {
    font-style: italic;
}

.div-sobre-mi {
    max-width: 900px;
}

.mas-sobre-mi {
    color: rgb(41, 50, 68);
}

.desc-breve {
    background: white;
    border-radius: 1rem;
    max-width: 300px;
    padding: 2rem 1.2rem;
    margin-left: 5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.123);
}

.desc-breve p {
    color: gray;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.desc {
    color: rgb(39, 29, 59);
    font-weight: bold;
}

.frase {
    padding: 1rem;
    margin: 1.5rem;
    max-width: 600px;
    background: rgba(234, 225, 179, 0.308);
}

.sobre-mi-desc {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    margin-bottom: 5rem;
}

table {
    width: 60%;
    font-size: 1.2rem;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.425);
    background: white;
    margin-bottom: 3rem;
}

th,
td {
    padding: 10px 30px;
    text-align: left;
}

.tabla {
    display: flex;
    justify-content: center;
}

thead {
    background-color: rgb(44, 72, 114);
    color: whitesmoke;
}

tr:nth-child(even) {
    background: rgb(207, 241, 255);
}

.caja {
    background: white;
    margin: 1rem;
    padding: 1rem 5rem 1rem 3rem;
    max-width: 400px;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.308);
}

.caja-habilidades {
    display: flex;
    justify-content: center;
}

.caja h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.caja li {
    margin-bottom: 1rem;
}

.competencias li {
    list-style: disc;
}

.aprendizaje li {
    list-style: decimal;
}

.barra {
    width: 120px;
    height: 20px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.nivel {
    height: 100%;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    line-height: 20px;
}

.nivel.básico {
    width: 40%;
    background-color: rgb(255, 21, 0);
}

.nivel.intermedio-uno {
    width: 50%;
    background-color: rgb(221, 195, 64);
}

.nivel.intermedio-dos {
    width: 50%;
    background-color: rgb(171, 64, 221);
}

.nivel.intermedio-alto {
    width: 70%;
    background-color: rgb(22, 90, 51);
}

.nivel.avanzado {
    width: 100%;
    background-color: rgb(19, 21, 91);
}

/* Proyectos */


.img-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(90deg,
            rgb(48, 124, 196), rgb(100, 10, 151));
}

.img-proyecto img {
    width: 80px;
}

.proyectos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.proyecto {
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
}

.info-proyecto {
    padding: 1.5rem;
}

.info-proyecto h2 {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.proyecto {
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
    width: 300px;
}

.img-proyecto img {
    width: 80px;
}

.info-proyecto {
    padding: 1.5rem;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: .4rem;
    margin-top: .4rem;
}

input[type="email"],
input[type="text"],
select,
textarea {
    width: 100%;
    padding: .5rem;
    border: 2px solid rgb(230, 230, 230);
    border-radius: .3rem;
    max-width: 400px;
}

button {
    padding: .5rem 8rem;
    background: rgb(19, 45, 88);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: .25rem;
    display: flex;
}

.contacto {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.info-contacto {
    background: rgb(242, 245, 247);
    border-radius: 1rem;
    border: 2px solid rgb(216, 216, 216);
    padding: 2rem 1rem;
}

.info-contacto h3 {
    margin-bottom: 2rem;
    color: rgb(41, 47, 65);
}

.info-contacto a {
    color: rgb(73, 72, 122);
    font-weight: bold;
}

.info-contacto p {
    margin-bottom: 1rem;
    color: rgb(68, 78, 100);
}

footer {
    background: rgb(19, 45, 88);
    color: gainsboro;
    padding: 4rem 4rem 1rem 4rem;
    margin-top: 7rem;
}

footer p {
    text-align: center;
    margin-top: 1rem;
}

.logo-footer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.logo-f {
    padding: .3rem .4rem;
    background-color: rgb(233, 117, 8);
    border-radius: .5rem;
}

.redes-l {
    padding: .3rem .4rem;
    background-color: rgba(127, 81, 255, 0.342);
    border: 2px solid white;
    border-radius: .5rem;
}

.caja-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.redes {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.redes a {
    color: white;
    font-weight: bold;
}

footer hr {
    opacity: 20%;
}


.contacto-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icono {
    width: 30px;
    height: 30px;
    background-color: #1e3a8a;
    padding: 5px;
    border-radius: 5px;
}

.icono img {
    width: 100%;
    height: auto;
    filter: invert(1);
}